body {
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
  margin: -2px;
}

input, button {
  font-family: inherit;
  font-size: inherit;
  margin-left: 1rem;
  padding: 2px 15px 2px 15px;
}

.nav {
  background-color: rgb(60, 107, 88);
  margin: 0 auto;
  width: 100%;
  padding: 2rem 4rem 0.5rem 4rem;
  line-height: 4rem;
}

.nav a {
  text-decoration: none;
  color: white;
}

header a {
  text-decoration: none;
  color: black;
}

ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 1rem;
  width: 90%;
}

li {
  list-style-type: none;
  padding: 1rem;
  border: 1px solid black;
}

li:hover {
  cursor: pointer;
}

.main {
  margin: 2rem;
}
.searchform {
  margin: 2rem;
}

@media (max-width: 900px) {

  body {
    margin: 0, auto;
  }
  ul {
    margin-left: -1rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  nav {
    width: 100%;
    margin-top: 0px;
    margin-left: 0px;
    height: 43px;
    padding: 23px 10px 7px 20px;
    line-height: 1rem;
  }

  nav a {
    text-decoration: none;
    color: white;
  }
}


/*
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
